extends layout

block head
    script(src='/javascripts/utils.js')
    script(src='/javascripts/checkouts.js')

block content
 div(ng-app='main' ng-controller='ctr')
  alerts
  div.container
  div.modal.fade#checkIn(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
         div.modal-header
           button.close(type="button", data-dismiss="modal", aria-label="Close")
             span(aria-hidden="true") &times
           h4.modal-title Check In
         div.modal-body
           form(novalidate)
             div.form-group
               label.control-label Nombre / First Name
               input.form-control(ng-model='new_guest.firstName')
             div.form-group
               label.control-label Apellido / Last Name
               input.form-control(ng-model='new_guest.lastName')
             div.form-group
               label.control-label Nacionalidad / Nationality
               select.form-control(ng-model='new_guest.nationality',ng-options="n for n in nationalities")
             div.form-group
               label.control-label Numero de documento / Document ID
               input.form-control(ng-model='new_guest.documentId')
             div.form-group
               label.control-label Edad / Age
               input.form-control(type="number",integer,ng-model='new_guest.age')
             div.form-group
               label.control-label Estato civil / Marital Status
               input.form-control(ng-model='new_guest.maritalStatus')
             div.form-group
               label.control-label Objectivo / Objective
               input.form-control(ng-model='new_guest.objective')
             div.form-group
               label.control-label Provedencia / Origin
               input.form-control(ng-model='new_guest.origin')
             div.form-group
               label.control-label Destino / Destination
               input.form-control(ng-model='new_guest.destination')
             div.form-group
               label.control-label E-mail
               input.form-control(ng-model='new_guest.email')
             div.form-group
               label Fecha de entrada / Check In Date
               datepicker(ng-model="new_guest.checkIn")
             div.form-group
               label Fecha de salida / Check Out Date
               datepicker(ng-model="new_guest.checkOut")
             div.form-group
               label.control-label Habitacion / Room
               select.form-control(ng-model='new_guest.roomName', ng-options="room.name as room.name for room in rooms")
             div.form-group
               button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
               button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="on_checkin_validate(new_guest)") Check In
  div.container
    div.page-header
      h1 Checked Out
    div.row(ng-style='{textAlign:"center"}')
      p.btn-group(data-toggle="buttons")
        label.btn.btn-default.active(ng-click='show("day")')
          input(type='radio')
          span ulitmo dia
        label.btn.btn-default(ng-click='show("week")')
          input(type='radio')
          span ulitma samana
        label.btn.btn-default(ng-click='show("month")')
          input(type='radio')
          span ulitmo mez
    div.row(ng-style='{textAlign:"center"}')
        label.control-label Desde
        datepicker(ng-model="from",ng-style='{marginLeft:"5px",marginRight:"5px",display:"inline-block", width:"auto"}')
        label.control-label Hasta
        datepicker(ng-style='{marginLeft:"5px",marginRight:"5px",display:"inline-block", width:"auto"}',ng-model="until")
        button.btn.btn-default(ng-click='show_range(from, until)') Mostrar
    div.row(ng-style='{textAlign:"center"}')
        label.control-label Nombre
        input.form-control(ng-style='{marginLeft:"5px",marginRight:"5px",display:"inline-block", width:"auto"}',ng-model="name")
        button.btn.btn-default(ng-click='show_name(name)') Buscar
    div.row
      table.table.table-bordered
        thead
          tr
           th Id
           th Nombre y Apellidos
           th Fecha de Salida
           th Fecha de Entrada
           th(ng-repeat="k in guest_infos") {{k}}
           th
           th
        tbody
          tr(ng-repeat="guest in guests")
            td {{guest.id}}
            td {{guest.firstName}} {{guest.lastName}}
            td {{guest.checkIn|date:'dd/MM/yyyy'}}
            td {{guest.checkOut|date:'dd/MM/yyyy'}}
            td(ng-repeat="k in guest_infos") {{guest[k]}}
            td
              button.btn.btn-default(ng-click='uncheckout(guest)') Anular Check Out
            td
              button.btn.btn-default(type="button", data-toggle="modal", data-target="#checkIn", ng-click='recheckout(guest)') Check In de nuevo
