extends layout

block head
    script(src='/javascripts/utils.js')
    script(src='/javascripts/index.js')

block content
 div(ng-app='main' ng-controller='ctr')
  div.container
    alerts
  div.modal.fade#YesNoModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
         div.modal-body
           div {{confirm.msg}}
           button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="confirm.onok()") Sí
           button.btn.btn-primary(type="button", data-dismiss="modal") No

  div.modal.fade#anularCheckOuts(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
         div.modal-header
           button.close(type="button", data-dismiss="modal", aria-label="Close")
             span(aria-hidden="true") &times
           h4.modal-title Recientes checkouts
         div.modal-body
           table.table
             thead
               tr
                th
                th Id
                th Nombre y Apellidos
                th(ng-repeat="k in short_guest_infos") {{k}}
             tbody
                tr(ng-repeat="guest in checkedOut", ng-click="guest.selected = !guest.selected")
                  td
                    button.btn.btn-default(ng-click="uncheckout(guest)") Anular
                  td {{guest.id}}
                  td {{guest.firstName}} {{guest.lastName}}
                  td(ng-repeat="k in short_guest_infos") {{guest[k]}}
         div.modal-footer
           button.btn.btn-default(type="button", data-dismiss="modal") Descartar

  div.modal.fade#roomSettings(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
         div.modal-header
           button.close(type="button", data-dismiss="modal", aria-label="Close")
             span(aria-hidden="true") &times
           h4.modal-title Ajustes de cuarto
         div.modal-body
           div.panel.panel-default
             div.panel-heading Cuarto
             div.panel-body {{sroom.name}}
           form.form(novalidate)
               div.form-group
                 label.control-label Capacidad
                 input.form-control(type="number", ng-model='sroom.capacity', integer)
                 br
                 span Camas ocupadas {{rooms[sroom.name].guests.length}}
              div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
                button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="update_room(sroom)") Update

  div.modal.fade#checkOut(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
         div.modal-header
           button.close(type="button", data-dismiss="modal", aria-label="Close")
             span(aria-hidden="true") &times
           h4.modal-title Check Out
         div.modal-body
           form.form(novalidate)
               div.form-group
                 p Hacer el checkout de(s)
               div.form-group(ng-repeat="g in guestToCheckout")
                 div.form-group
                   b Huesped:
                   &nbsp{{g.firstName}} {{g.lastName}}
                 div.form-group
                   label Fecha de entrada
                   input.form-control(type='date', ng-model='g.checkIn', disabled)
                 div.form-group
                   label Fecha de salida
                   datepicker(ng-model="g.checkOut")
         div.modal-footer
           button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
           button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="checkOut()") Check Out

  div.modal.fade#changeRoom(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
         div.modal-header
           button.close(type="button", data-dismiss="modal", aria-label="Close")
             span(aria-hidden="true") &times
           h4.modal-title Change Room
         div.modal-body
           //select.form-control(ng-model="roomToMove", ng-options="k as k disable when v.guests.length === v.capacity for (k,v) in rooms")
         div.modal-footer
           button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
           button.btn.btn-primary(type="button", ng-click='execute_move()') Move


  div.modal.fade#checkIn(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
         div.modal-header
           button.close(type="button", data-dismiss="modal", aria-label="Close")
             span(aria-hidden="true") &times
           h4.modal-title Check In
         div.modal-body
           form(novalidate)
             div.form-group
               label.control-label Nombre / First Name
               input.form-control(ng-model='new_guest.firstName')
             div.form-group
               label.control-label Apellido / Last Name
               input.form-control(ng-model='new_guest.lastName')
             div.form-group
               label.control-label Nacionalidad / Nationality
               select.form-control(ng-model='new_guest.nationality',ng-options="n for n in nationalities")
             div.form-group
               label.control-label Numero de documento / Document ID
               input.form-control(ng-model='new_guest.documentId')
             div.form-group
               label.control-label Edad / Age
               input.form-control(type="number",integer,ng-model='new_guest.age')
             div.form-group
               label.control-label Estato civil / Marital Status
               input.form-control(ng-model='new_guest.maritalStatus')
             div.form-group
               label.control-label Objectivo / Objective
               input.form-control(ng-model='new_guest.objective')
             div.form-group
               label.control-label Provedencia / Origin
               input.form-control(ng-model='new_guest.origin')
             div.form-group
               label.control-label Destino / Destination
               input.form-control(ng-model='new_guest.destination')
             div.form-group
               label.control-label E-mail
               input.form-control(ng-model='new_guest.email')
             div.form-group
               label Fecha de entrada / Check In Date
               datepicker(ng-model="new_guest.checkIn")
             div.form-group
               label Fecha de salida / Check Out Date
               datepicker(ng-model="new_guest.checkOut")
             div.form-group
               label.control-label Habitacion / Room
               select.form-control(ng-model='new_guest.roomName', ng-options="roomname as roomname for (roomname,data) in rooms")
             div.form-group
               button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
               button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="on_checkin_validate(new_guest)") Check In
  div.container
        div.navbar-fixed-top
          div.container(ng-style="{backgroundColor:'#222'}")
            div.btn-group
              button.btn.btn-default(type="button", data-toggle="modal", data-target="#checkOut", ng-click="setCheckoutGuest()") Check Out
              button.btn.btn-default(type="button", data-toggle="modal", data-target="#anularCheckOuts", ng-show='checkedOut.length > 0', ng-click='moveTo()') Anular Check Outs
              div.dropdown(ng-style="{display:'inline-block'}")
                button.btn.dropdown-toggle(id='migration_btn', data-toggle="dropdown", data-target="#") Migracion
                ul.dropdown-menu(role='menu',aria-labeledby='migration_btn')
                   datetimepicker(data-ng-model='migration_date',data-datetimepicker-config="{ minView:'day',dropdownSelector: '#migration_btn' }", data-on-set-time="onMigrationReport(newDate, oldDate)")
              div.btn.btn-default(type="button")
                a(href="/export_current?t=#{Date.now()}",download='beehive.csv') Exportar BeeHive
              div.btn.btn-default(type="button")
                a(href="/export_checkouts?t=#{Date.now()}",download='checkouts.csv') Exportar Checkouts
              div.btn.btn-default(type="button")
                a(href="/calendar",target='_blank') Calendar
              div.btn.btn-default(type="button")
                a(href="/checkouts",target='_blank') All Checkouts
              div.btn.btn-default(type="button")
                a(href="/rooms/all",target='_blank') Cuartos
        div.page-header
          h1 The BeeHive
        div(ng-repeat="(roomname,data) in rooms")
          div.row
           div.col-md-12
            table.table.table-bordered(ng-style="{backgroundColor:data.color}")
              thead
                tr
                  th
                  th(colspan=3) {{roomname}} (Ocupado {{data.guests.length}} / {{data.capacity}})
                  th(colspan=0)
                    button.btn.btn-default(type="button", data-toggle="modal", data-target="#checkIn", ng-class='{disabled:data.guests.length === data.capacity}', ng-click="init_check_in(roomname)") Check in
                  th
                    button.btn.btn-default(type="button", data-toggle="modal", data-target="#roomSettings", ng-click="get_room_info(roomname)")
                      span.glyphicon.glyphicon-cog
                tr
                  th
                  th Id
                  th Nombres y Apellidos
                  th Fecha de entrada
                  th Fecha de salida
                  th(ng-repeat="k in guest_infos") {{k}}
                tbody
                  tr(ng-repeat="guest in data.guests", ng-click="guest.selected = !guest.selected")
                      td
                        input(type='checkbox', ng-model="guest.selected")
                      td {{guest.id }}
                      td {{guest.firstName + ' ' + guest.lastName}}
                      td {{guest.checkIn | date:'dd/MM/yyyy'}}
                      td.dropdown(data-toggle='tooltip',data-placement='top', title='Pulsa para Cambiar checkout')
                        div.dropdown-toggle#fechasalida(role="button", data-toggle="dropdown", data-target="#") {{guest.checkOut | date:'dd/MM/yyyy'}}
                        div.dropdown-menu(role="menu",aria-labeledby='fechasalida',ng-style="{position:'absolute', top:'-150px', left:'-150px'}")
                          datetimepicker(data-ng-model='guest.checkOut', data-datetimepicker-config="{ minView:'day'}")
                          div(ng-style="{textAlign:'center'}")
                            button.btn(ng-click="advance_check_out(guest)") Confirmar
                      td(ng-repeat="k in guest_infos") {{guest[k]}}
                      td(data-toggle='tooltip', data-placement='top', title='Pulsa para hacer checkout de hoy')
                        button.btn.btn-default(type="button", ng-click="checkOutSingleGuest(guest)") CheckOut
                      td(data-toggle='tooltip', data-placement='top', title='Pulsa para editar informacion del huesped')
                        button.btn.btn-default(type="button", data-toggle="modal", data-target="#checkIn", ng-click='edit_guest(guest)')
                          span.glyphicon.glyphicon-edit
                      td(data-toggle='tooltip', data-placement='top', title='Pulsa para borar al huesped')
                        button.btn.btn-default(type="button", data-toggle="modal", data-target="#YesNoModal", ng-click="erase_guest(guest)")
                          span.glyphicon.glyphicon-trash
