doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='angular-bootstrap-datetimepicker/src/css/datetimepicker.css')
    script(src='angular/angular.min.js')
    script(src='underscore/underscore-min.js')
    script(src='jquery/dist/jquery.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='moment/moment.js')
    script(src='angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
    script.
      angular.module('server', []).constant('colors',!{JSON.stringify(colors)});
    block head
  body
    block content
